{% assign bottom_donate_area_data = site.data[site.locale].bottom_donate_area %}

<div class="power-area bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="power-inner">
                    <div class="power-detail">
                      <h2>{{ bottom_donate_area_data.title }}</h2>
                      {{ bottom_donate_area_data.content | markdownify }}
                    </div>
                    <div class="power-link">
                        <div class="donate">
                          <a href="{{ site.baseurl }}/donate" class="oni-btn">{{ bottom_donate_area_data.action }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
