<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="theme-color" content="white"/>
<meta name="color-scheme" content="light"/>
<meta name="referrer" content="strict-origin-when-cross-origin"/>
<title>{{ site.title }}</title>

<link rel="icon" href="{{ site.baseurl }}{{ site.favicon }}" />
<!-- Bootstrap css -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap{% if site.data[site.locale].dir == "rtl" %}-rtl{% endif %}.min.css">
<!-- Theme files -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- Modernizr -->
<script src="{{ site.baseurl }}/assets/js/modernizr.min.js"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
