{% assign links = site.data[site.locale].navigation.navigation_links %}
{% assign main_navigation_data = site.data[site.locale].main_navigation %}

<header class="header-area {% if page.url contains 'about' or page.url contains 'download' %}about-header{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="header-inner">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-8">
                            <div class="logo">
                                <a href="{{ site.baseurl }}/">
                                    <img src="{{ site.baseurl }}{{ site.logo }}" alt="onion-logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-4">
                            <div id="mobile-header">
                                <a id="responsive-menu-button"><i class="fa fa-bars"></i></a>
                            </div>
                            <div class="main-nav">
                                <ul>
                                    {% comment %} Loop 'limit:6' can be replaced with 'forloop.last == true & break' {% endcomment %}

                                    {% for link in links limit:6 %}
                                    {% assign class = nil %}
                                    {% if page.url contains link.url %}
                                    {% assign class = 'active' %}
                                    {% endif %}
                                    {% if link.external %}
                                    <li class="for-desktop">
                                        <a href="{{ link.url }}" rel="noopener" target="_blank">{{ link.title }}</a>
                                    </li>
                                    <li class="for-small-devices">
                                        <a href="{{ link.url }}">{{ link.title }}</a>
                                    </li>
                                    {% else %}
                                    <li {% if class %}class="{{ class }}"{% endif %}>
                                        <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="donate">
                              <a href="{{ site.baseurl }}/donate" class="oni-btn">{{ main_navigation_data.donate }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile menu -->
    <div id="sidr" class="main-nav-for-mobile">
        <a id="close-button">X</a>
        <ul>
          {% for link in main_navigation_data.responsive_menu_links %}
            {% if link.url contains "https://" %}
              <li class="for-desktop"><a href="{{ link.url }}" target="_blank" rel="noopener">{{ link.title }}</a></li>
              <li class="for-small-devices"><a href="{{ link.url }}" target="_blank" rel="noopener">{{ link.title }}</a></li>
            {% else %}
              <li><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

        {% include locale_selector.html %}
    </div>
</header>
