---
permalink: redirector.html
---

{% assign redirect_to = page.redirect_to | default: "/" %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="theme-color" content="white"/>
    <meta name="color-scheme" content="light"/>
    {% include locale_detection.html url=redirect_to %}

    <style>
      body {
        background-color: {{ site.background | default: "white" }};
        color: {{ site.primary | default: "#720E95" }};
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      }

      ul {
        padding: 0;
        list-style: none;
        text-align: center;
      }

      ul li {
        font-size: 2rem;
      }

      a {
        color: {{ site.primary | default: "#720E95" }};
        text-decoration: none;
      }

      a:hover, a:active, a:focus {
        color: {{ site.secondary | default: "#7ED321" }};
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <ul>
      <!-- Let visitors decide which locale they like to access -->
      {% for locale in site.locales %}
        <li><a href="/{{ locale }}{{ redirect_to }}" hreflang="{{ locale }}">{{ site.data[locale].home.locale }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
